.chart rect {
  fill: steelblue;
  stroke: white;
}
.wacky {
  border: dashed 3px #a00;
}

ul {
  list-style-type: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.description {
  margin-top: 10px;
  font-size: 12px;
}
